@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@layer scroll-effect {
  @layer base, stick, effect;

  @layer effect {
    :root {
      --start: 220;
      --end: 250;
      --lightness: 75%;
      --base-chroma: 0.2;
    }

    .scroll-list {
      --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
    }

    .scroll-list li:not(:last-of-type) {
      color: oklch(
        var(--lightness) var(--base-chroma)
          calc(var(--start) + (var(--step) * var(--i)))
      );
    }

    @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
      [data-animate='true'] .scroll-list li {
        opacity: 0.2;
        animation-name: brighten;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
        animation-timeline: view();
      }
      [data-animate='true'] .scroll-list li:first-of-type {
        --start-opacity: 1;
      }
      [data-animate='true'] .scroll-list li:last-of-type {
        --brightness: 1;
        --end-opacity: 1;
      }

      @keyframes brighten {
        0% {
          opacity: var(--start-opacity, 0.2);
        }
        50% {
          opacity: 1;
          filter: brightness(var(--brightness, 1.2));
        }
        100% {
          opacity: var(--end-opacity, 0.2);
        }
      }
    }
  }

  @layer stick {
    .scroll-container {
      width: 100%;
    }

    .scroll-section {
      --font-level: 6;
      display: flex;
      line-height: 1.25;
      width: 100%;
      padding-left: 5rem;
    }

    .scroll-section h2 {
      position: sticky;
      top: calc(50% - 0.5lh);
      font-size: inherit;
      margin: 0;
      display: inline-block;
      height: fit-content;
      font-weight: 600;
    }

    .scroll-list {
      font-weight: 600;
      padding-inline: 0;
      margin: 0;
      list-style-type: none;
    }

    /* Snap — на html, т.к. он является scroll container */
    [data-snap='true'] {
      scroll-snap-type: y proximity;
    }
    [data-snap='true'] .scroll-list li {
      scroll-snap-align: center;
    }

    .scroll-section h2,
    .scroll-list li:last-of-type {
      background: linear-gradient(
        #ffffff 50%,
        rgba(255, 255, 255, 0.4)
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: #0000;
    }
  }

  @layer base {
    :root {
      --font-size-min: 14;
      --font-size-max: 20;
      --font-ratio-min: 1.1;
      --font-ratio-max: 1.33;
      --font-width-min: 375;
      --font-width-max: 1500;
    }

    :where(.fluid) {
      --font-level: 0;
      --fluid-min: calc(
        var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
      );
      --fluid-max: calc(
        var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
      );
      --fluid-preferred: calc(
        (var(--fluid-max) - var(--fluid-min)) /
          (var(--font-width-max) - var(--font-width-min))
      );
      --fluid-type: clamp(
        (var(--fluid-min) / 16) * 1rem,
        ((var(--fluid-min) / 16) * 1rem) -
          (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
          (var(--fluid-preferred) * var(--variable-unit, 100vi)),
        (var(--fluid-max) / 16) * 1rem
      );
      font-size: var(--fluid-type);
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .scroll-container {
      font-family: 'Geist', 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
        'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
      color: #e0e0e0;
    }
  }
}
